<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/category/add" method="post">
        Category name: <input type="text" name="name"><br>
        <input type="submit" value="Submit">
      </form>  
  </body>
</html>